# Datalab 2025-2026

<div style="line-height:1;">

## Analyse over elektricitiets gebruik in de Nederlandse markt.

**Groepsnummer: 5**

**Auteurs: Lucas Hoetink, Thomas Galais, Mehmet Kilinc, Joris Zondervan**

<div style="line-height:1.6;">

## **Kernpuntenrapport**

Dit notebook presenteert doormiddel van data van het **CBS** een analytisch overzicht van de **Nederlandse energiemarkt**. Na het opschonen en voorbewerken van de rauwe datasets zijn er verschillende analyses op uitgevoerd om inzicht te krijgen in hoe het elekriciteits gebruik verschilt per gemeente en welke factoren dit beïnvloeden. 

Wij hebben datasets van het CBS doormiddel van <code style="color:#4EC9B0;">pandas</code>, <code style="color:#9CDCFE;">numpy</code> onderzocht. Ook hebben wij met <code style="color:#CE9178;">seaborn</code> en <code style="color:#CE9178;">matplotlib</code> meerdere visualisaties gemaakt om de data gemakkelijk in te zien.

**Belangrijkste bevindingen**:

- 
- 

Deze patronen benadrukken dit en dit en dit

---

## **Importeer de benodigde libraries**

Hier importeren wij <code style="color:#4EC9B0;">pandas</code> en <code style="color:#9CDCFE;">numpy</code>. Ook installeren wij eerst de api voor  <code style="color:#4EC9B0;">cbsodata</code> (CBS open data), en importeren we de library in het notebook.

In [3]:
import pandas as pd
import numpy as np
%pip install cbsodata
import cbsodata
import seaborn as sns
import matplotlib as plt

Collecting cbsodata
  Downloading cbsodata-1.3.5-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: requests in /Users/mehmetalikilinc/Downloads/anaconda3/lib/python3.13/site-packages (from cbsodata) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mehmetalikilinc/Downloads/anaconda3/lib/python3.13/site-packages (from requests->cbsodata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/mehmetalikilinc/Downloads/anaconda3/lib/python3.13/site-packages (from requests->cbsodata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mehmetalikilinc/Downloads/anaconda3/lib/python3.13/site-packages (from requests->cbsodata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mehmetalikilinc/Downloads/anaconda3/lib/python3.13/site-packages (from requests->cbsodata) (2025.4.26)
Downloading cbsodata-1.3.5-py3-none-any.whl (12 kB)
Installing collected packages: cbsodata
Successfully installed cbsodata-1.3.5
Note: you may need to restart the kernel to use updated packages.

## **Stel de plotting stijl in**

Om de uniformiteit te bewaren in het hele document gaan we alle grafieken dezelfde stijl geven.

In [4]:
plt.style.use('seaborn-v0_8')
sns.set_palette('husl')

---

## **Sprint 3**

<div style="line-height:1.6;">

### **Kernpuntenrapport**

Dit hoofdstuk presenteert een analytisch overzicht van het elektriciteitsverbruik per gemeente. Ook gaat dit hoofdstuk in op de verschillende factoren die het elektriciteitsverbruik per huishouden beïnvloeden.Als laatste gaan wij aan de hand van kenmerken van een buurt voorspellingen doen over het energieverbruik.

**Belangrijkste bevindingen:**

- 
- 

Dit verteld ons dit dit en dit

---

## **Importeer de dataset**

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

**Hoe we dit doen:**

We beginnen met <code style="color:#4EC9B0;">pandas</code> en `.get_data()` van <code style="color:#4EC9B0;">cbsodata</code> om het dataset 84799NED op te halen en meteen om te zetten in een <code style="color:#4EC9B0;">pandas DataFrame</code>. 
We gaan meteen door met data verkenning om de dataset beter te begrijpen. De eerste verkenning met `.head()` en `.shape` geeft ons een snel overzicht van de datastructuur.

De dataset heeft `17341` rijen en `119` kolommen.
`.head()` laat ons de bovenste 5 rijen zien. hieruit kunnen we opmaken waar de dataset over gaat. Het is een dataset met informatie over verschillende wijken in Nederland. De informatie bevat onderwerpen zoals leeftijd, partnerschap, afkomst, geboorte en sterfte totalen, huishoudens, en meer. Interessante kolommen voor ons zijn bijvoorbeeld buurten en informatie over energieverbruik.

In [5]:
# Dataset importeren. Omdat de dataset bovenaan wat extra rijen heeft slaan we die over.
df = pd.DataFrame(cbsodata.get_data('84799NED'))

# Dataset uitlezen
print('De dataset heeft de volgende vorm:', df.shape)
print('\nDe bovenste 5 rijen zijn:\n',df.head())

De dataset heeft de volgende vorm: (17341, 119)

De bovenste 5 rijen zijn:
    ID          WijkenEnBuurten                            Gemeentenaam_1  \
0   0                Nederland  Nederland
1   1              Aa en Hunze  Aa en Hunze
2   2            Wijk 00 Annen  Aa en Hunze
3   3                    Annen  Aa en Hunze
4   4  Verspreide huizen Annen  Aa en Hunze

  SoortRegio_2  Codering_3 IndelingswijzigingWijkenEnBuurten_4  \
0   Land        NL00                                         .
1   Gemeente    GM1680                                       .
2   Wijk        WK168000                                     1
3   Buurt       BU16800000                                   1
4   Buurt       BU16800009                                   1

   AantalInwoners_5  Mannen_6  Vrouwen_7  k_0Tot15Jaar_8  ...  \
0          17407585   8648031    8759554         2726099  ...
1             25445     12708      12737            3460  ...
2              3610      1760       1850             560  ...
3              3455      1680       1775             545  ...
4               155        75         75              15  ...

   AfstandTotKinderdagverblijf_108  AfstandTotSchool_109  \
0                              0.6                   0.7
1                              1.2                   1.2
2                              0.5                   0.8
3                              0.5                   0.8
4                              1.7                   2.0

   ScholenBinnen3Km_110  OppervlakteTotaal_111  OppervlakteLand_112  \
0                  10.9                4154338              3367109
1                   1.8                  27887                27609
2                   2.6                   1478                 1466
3                   2.6                    252                  252
4                   1.2                   1226                 1213

   OppervlakteWater_113  MeestVoorkomendePostcode_114  Dekkingspercentage_115  \
0                787228                             .                     NaN
1                   279                             .                     NaN
2                    13                             .                     NaN
3                     0                          9468                     1.0
4                    13                          9468                     1.0

   MateVanStedelijkheid_116  Omgevingsadressendichtheid_117
0                       2.0                          2010.0
1                       5.0                           281.0
2                       5.0                           396.0
3                       5.0                           411.0
4                       5.0                            60.0

[5 rows x 119 columns]

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## **1. De dataset filteren**

We beginnen met een gestructureerd overzicht te creëren van de data die voor ons interessant is. Dit doen wij door de dataset te filteren en om te zetten in de DataFrames `buurten`, `inwoners`, en `elektriciteitsgebruik`. Het is nodig om op alleen de buurten te filteren, omdat ons onderzoek alleen de informatie over de buurten vereist. De niet-relevante informatie hindert de snelheid van berekeningen en door deze weg te laten maken wij het onderzoek ook overzichtelijker.
De interessante informatie voor ons in deze dataset is:

- De wijken en buurten kolom, die geeft ons informatie over locatie.
- De gemeente kolom geeft ons informatie over mogelijke groeperingen van data per gemeente.
- Het regio_type kolom geeft de mogelijkheid te sorteren op soort regio.
- De elektriciteitsverbruik kolom geeft ons inzicht in de gebruikte elektriciteit.
- Waarom we deze kolommen hebben gekozen?

In [ ]:
# Dataframe buurten maken
#Thomas
print(df.columns.tolist())

buurten = df[['WijkenEnBuurten', 'Gemeentenaam_1', 'SoortRegio_2', 'Bevolkingsdichtheid_33', 'Woningvoorraad_34', 'GemiddeldeWOZWaardeVanWoningen_35', 'PercentageEengezinswoning_36', 'PercentageMeergezinswoning_37', 'PercentageBewoond_38', 'PercentageOnbewoond_39', 'GIHandelEnHoreca_94', 'AfstandTotHuisartsenpraktijk_106', 'AfstandTotGroteSupermarkt_107', 'AfstandTotKinderdagverblijf_108', 'AfstandTotSchool_109', 'OppervlakteLand_112', 'OppervlakteWater_113', 'MateVanStedelijkheid_116', 'Omgevingsadressendichtheid_117']].copy()
inwoners = df[['k_20HuishoudensMetHoogsteInkomen_77', 'HuishoudensMetEenLaagInkomen_78', 'HuishoudensMetKinderen_31','HuishoudensZonderKinderen_30', 'Bevolkingsdichtheid_33', 'OpleidingsniveauLaag_64', 'OpleidingsniveauMiddelbaar_65', 'OpleidingsniveauHoog_66', 'Mannen_6', 'Vrouwen_7','k_0Tot15Jaar_8', 'k_15Tot25Jaar_9', 'k_25Tot45Jaar_10', 'k_45Tot65Jaar_11', 'k_65JaarOfOuder_12', 'GeboorteTotaal_24', 'GeboorteRelatief_25', 'SterfteTotaal_26', 'SterfteRelatief_27',]]
elektriciteitsverbruik = df[['GemiddeldElektriciteitsverbruikTotaal_47', 'GemiddeldAardgasverbruikTotaal_55', 'BouwjaarVoor2000_45', 'BouwjaarVanaf2000_46','PercentageWoningenMetStadsverwarming_63',]]
woningen = df[['GemiddeldeHuishoudensgrootte_32', 'Appartement_48', 'Tussenwoning_49', 'Hoekwoning_50','TweeOnderEenKapWoning_51', 'VrijstaandeWoning_52', 'BedrijfsvestigingenTotaal_91',]]

buurten.rename(columns={'WijkenEnBuurten': 'buurt', 'Gemeentenaam_1': 'gemeente', 'SoortRegio_2': 'regio_type', 'GemiddeldElektriciteitsverbruikTotaal_47':'gem_elek_verbruik'}, inplace=True)



# Een nieuwe dataframe met alleen buurten is belangrijk omdat we dan alle "onnodige" informatie buiten laten en alle bruikbare inforamtie voor ons onderzoek overhouden.

['ID', 'WijkenEnBuurten', 'Gemeentenaam_1', 'SoortRegio_2', 'Codering_3', 'IndelingswijzigingWijkenEnBuurten_4', 'AantalInwoners_5', 'Mannen_6', 'Vrouwen_7', 'k_0Tot15Jaar_8', 'k_15Tot25Jaar_9', 'k_25Tot45Jaar_10', 'k_45Tot65Jaar_11', 'k_65JaarOfOuder_12', 'Ongehuwd_13', 'Gehuwd_14', 'Gescheiden_15', 'Verweduwd_16', 'WestersTotaal_17', 'NietWestersTotaal_18', 'Marokko_19', 'NederlandseAntillenEnAruba_20', 'Suriname_21', 'Turkije_22', 'OverigNietWesters_23', 'GeboorteTotaal_24', 'GeboorteRelatief_25', 'SterfteTotaal_26', 'SterfteRelatief_27', 'HuishoudensTotaal_28', 'Eenpersoonshuishoudens_29', 'HuishoudensZonderKinderen_30', 'HuishoudensMetKinderen_31', 'GemiddeldeHuishoudensgrootte_32', 'Bevolkingsdichtheid_33', 'Woningvoorraad_34', 'GemiddeldeWOZWaardeVanWoningen_35', 'PercentageEengezinswoning_36', 'PercentageMeergezinswoning_37', 'PercentageBewoond_38', 'PercentageOnbewoond_39', 'Koopwoningen_40', 'HuurwoningenTotaal_41', 'InBezitWoningcorporatie_42', 'InBezitOverigeVerhuurders_43', 'EigendomOnbekend_44', 'BouwjaarVoor2000_45', 'BouwjaarVanaf2000_46', 'GemiddeldElektriciteitsverbruikTotaal_47', 'Appartement_48', 'Tussenwoning_49', 'Hoekwoning_50', 'TweeOnderEenKapWoning_51', 'VrijstaandeWoning_52', 'Huurwoning_53', 'EigenWoning_54', 'GemiddeldAardgasverbruikTotaal_55', 'Appartement_56', 'Tussenwoning_57', 'Hoekwoning_58', 'TweeOnderEenKapWoning_59', 'VrijstaandeWoning_60', 'Huurwoning_61', 'EigenWoning_62', 'PercentageWoningenMetStadsverwarming_63', 'OpleidingsniveauLaag_64', 'OpleidingsniveauMiddelbaar_65', 'OpleidingsniveauHoog_66', 'Nettoarbeidsparticipatie_67', 'PercentageWerknemers_68', 'PercentageZelfstandigen_69', 'AantalInkomensontvangers_70', 'GemiddeldInkomenPerInkomensontvanger_71', 'GemiddeldInkomenPerInwoner_72', 'k_40PersonenMetLaagsteInkomen_73', 'k_20PersonenMetHoogsteInkomen_74', 'GemGestandaardiseerdInkomenVanHuish_75', 'k_40HuishoudensMetLaagsteInkomen_76', 'k_20HuishoudensMetHoogsteInkomen_77', 'HuishoudensMetEenLaagInkomen_78', 'HuishOnderOfRondSociaalMinimum_79', 'HuishoudensTot110VanSociaalMinimum_80', 'HuishoudensTot120VanSociaalMinimum_81', 'MediaanVermogenVanParticuliereHuish_82', 'PersonenPerSoortUitkeringBijstand_83', 'PersonenPerSoortUitkeringAO_84', 'PersonenPerSoortUitkeringWW_85', 'PersonenPerSoortUitkeringAOW_86', 'JongerenMetJeugdzorgInNatura_87', 'PercentageJongerenMetJeugdzorg_88', 'WmoClienten_89', 'WmoClientenRelatief_90', 'BedrijfsvestigingenTotaal_91', 'ALandbouwBosbouwEnVisserij_92', 'BFNijverheidEnEnergie_93', 'GIHandelEnHoreca_94', 'HJVervoerInformatieEnCommunicatie_95', 'KLFinancieleDienstenOnroerendGoed_96', 'MNZakelijkeDienstverlening_97', 'OQOverheidOnderwijsEnZorg_98', 'RUCultuurRecreatieOverigeDiensten_99', 'PersonenautoSTotaal_100', 'PersonenautoSBrandstofBenzine_101', 'PersonenautoSOverigeBrandstof_102', 'PersonenautoSPerHuishouden_103', 'PersonenautoSNaarOppervlakte_104', 'Motorfietsen_105', 'AfstandTotHuisartsenpraktijk_106', 'AfstandTotGroteSupermarkt_107', 'AfstandTotKinderdagverblijf_108', 'AfstandTotSchool_109', 'ScholenBinnen3Km_110', 'OppervlakteTotaal_111', 'OppervlakteLand_112', 'OppervlakteWater_113', 'MeestVoorkomendePostcode_114', 'Dekkingspercentage_115', 'MateVanStedelijkheid_116', 'Omgevingsadressendichtheid_117']
                             buurt                                  gemeente  \
0                        Nederland  Nederland
1                      Aa en Hunze  Aa en Hunze
2                    Wijk 00 Annen  Aa en Hunze
3                            Annen  Aa en Hunze
4          Verspreide huizen Annen  Aa en Hunze
...                            ...                                       ...
17336                   Gerenbroek  Zwolle
17337                    Oude Mars  Zwolle
17338  Wijk 52 Soestweteringlanden  Zwolle
17339                   Windesheim  Zwolle
17340       Harculo en Hoog-Zuthem  Zwolle

       regio_type  Bevolkingsdichtheid_33  Woningvoorraad_34  \
0      Land                         517.0            7891786
1      Gemeente                      92.0              11179
2      Wijk                         246.0               1627
3      Buurt                       1370.0               1564
4      Buurt                         13.0                 63
...           ...                     ...                ...
17336  Buurt                       6561.0               1192
17337  Buurt                        302.0                 29
17338  Wijk                          82.0                296
17339  Buurt                        738.0                155
17340  Buurt                         49.0                141

       GemiddeldeWOZWaardeVanWoningen_35  PercentageEengezinswoning_36  \
0                                  271.0                          64.0
1                                  257.0                          92.0
2                                  254.0                          91.0
3                                  245.0                          90.0
4                                  470.0                         100.0
...                                  ...                           ...
17336                              257.0                          99.0
17337                              954.0                         100.0
17338                              378.0                          93.0
17339                              298.0                          97.0
17340                              466.0                          88.0

       PercentageMeergezinswoning_37  PercentageBewoond_38  \
0                               36.0                  96.0
1                                8.0                  96.0
2                                9.0                  96.0
3                               10.0                  96.0
4                                0.0                  98.0
...                              ...                   ...
17336                            1.0                  99.0
17337                            0.0                  93.0
17338                            7.0                  96.0
17339                            3.0                  95.0
17340                           12.0                  96.0

       PercentageOnbewoond_39  GIHandelEnHoreca_94  \
0                         4.0             349180.0
1                         4.0                480.0
2                         4.0                 65.0
3                         4.0                 60.0
4                         2.0                  0.0
...                       ...                  ...
17336                     1.0                 15.0
17337                     7.0                  NaN
17338                     4.0                 10.0
17339                     5.0                  0.0
17340                     4.0                 10.0

       AfstandTotHuisartsenpraktijk_106  AfstandTotGroteSupermarkt_107  \
0                                   1.0                            0.9
1                                   2.4                            2.1
2                                   0.9                            0.9
3                                   0.8                            0.8
4                                   2.6                            2.1
...                                 ...                            ...
17336                               0.9                            0.7
17337                               1.5                            1.6
17338                               3.9                            4.0
17339                               4.8                            4.9
17340                               3.2                            3.3

       AfstandTotKinderdagverblijf_108  AfstandTotSchool_109  \
0                                  0.6                   0.7
1                                  1.2                   1.2
2                                  0.5                   0.8
3                                  0.5                   0.8
4                                  1.7                   2.0
...                                ...                   ...
17336                              0.5                   0.5
17337                              1.6                   1.6
17338                              1.1                   1.1
17339                              0.3                   0.3
17340                              1.7                   1.7

       OppervlakteLand_112  OppervlakteWater_113  MateVanStedelijkheid_116  \
0                  3367109                787228                       2.0
1                    27609                   279                       5.0
2                     1466                    13                       5.0
3                      252                     0                       5.0
4                     1213                    13                       5.0
...                    ...                   ...                       ...
17336                   47                     2                       2.0
17337                   43                     2                       4.0
17338                 1107                    87                       5.0
17339                   53                     0                       5.0
17340                 1053                    87                       5.0

       Omgevingsadressendichtheid_117
0                              2010.0
1                               281.0
2                               396.0
3                               411.0
4                                60.0
...                               ...
17336                          1588.0
17337                           918.0
17338                           148.0
17339                            62.0
17340                           234.0

[17341 rows x 19 columns]

Waarom we deze kolommen hebben gekozen?

Thomas

Woningvoorraad is relevant bij buurten en niet bij woningen omdat de woningsvoorraad een algemeen beeld schets van de hoeveelheid beschikbare woningen in een buurt en we bij woningen echt ingaan op de specifieke details van een woning.

Percentage bewoond en onbewoond zijn relevant bij buurten omdat als een woning onbewoond is zal het verbruik van de woning hoger zijn dan als is dit niet van toepassing is. Ook zal de staat van de woning beter bekeren etc.


Handel en horeca zijn van toepassing bij buurten omdat dit interresant kan zijn om te zien of deze invloed hebben op het energieverbruik.

Opleidingniveau is handig bij inwoners omdat we dan kunnen zien of opleidingniveau invloed heeft op je energievebruik later.

Mannen en vrouwen hebben we gekozen bij dit onderzoek bij inwoners om te kijken of mannen meer verbruiken dan vrouwen.

Bouwjaar van huizen hebben we bij elektriciteitsverbruik omdat ons lijkt dat oudere woningen meer verbruiken dan nieuwere woningen (oudere woningen zijn minder goed geisoleerd, etc)

Wat voor een soort woning het is hebben we bij woningen omdat hoe groter of wat voor soort woning je hebt algemeen gezien invloed zal hebben op je energieverbruik

Bedrijfvestegingen hebben we bij woningen gedaan omdat bedrijven een soort woningen zijn maar bedrijven ook misschien wel meer/minder gebruiken dan 'normale' woningen. Dit is interresant om te onderzoeken.

In [23]:
# Lucas
# Renaming columns
buurt_namen = ['Wijken_Buurt', 'Gemeente', 'Regio_soort', 'Bevolkingsdichtheid', 'Woningvoorraad', 'Gemiddelde_WOZWaarde_Woningen', 'PercentageEengezinswoning', 'PercentageMeergezinswoning', 'PercentageBewoond', 'PercentageOnbewoond', 'GIHandelEnHoreca', 'AfstandTotHuisartsenpraktijk', 'AfstandTotGroteSupermarkt', 'AfstandTotKinderdagverblijf', 'AfstandTotSchool', 'OppervlakteLand', 'OppervlakteWater', 'MateVanStedelijkheid', 'Omgevingsadressendichtheid']
inwon_namen = ['top20_HuishoudensMetHoogsteInkomen', 'HuishoudensMetEenLaagInkomen', 'HuishoudensMetKinderen','HuishoudensZonderKinderen', 'Bevolkingsdichtheid', 'OpleidingsniveauLaag', 'OpleidingsniveauMiddelbaar', 'OpleidingsniveauHoog', 'Mannen', 'Vrouwen','k_0Tot15Jaar', 'k_15Tot25Jaar', 'k_25Tot45Jaar', 'k_45Tot65Jaar', 'k_65JaarOfOuder', 'GeboorteTotaal', 'GeboorteRelatief', 'SterfteTotaal', 'SterfteRelatief',]
wonin_namen = ['GemiddeldElektriciteitsverbruikTotaal', 'GemiddeldAardgasverbruikTotaal', 'BouwjaarVoor2000', 'BouwjaarVanaf2000','PercentageWoningenMetStadsverwarming',]
elekt_namen = ['GemiddeldeHuishoudensgrootte', 'Appartement', 'Tussenwoning', 'Hoekwoning','TweeOnderEenKapWoning', 'VrijstaandeWoning', 'BedrijfsvestigingenTotaal',]

buurten.columns = buurt_namen
inwoners.columns = inwon_namen
elektriciteitsverbruik.columns = wonin_namen
woningen.columns = elekt_namen

# making a total dataset
to_merge = [buurten, inwoners, elektriciteitsverbruik, woningen]

buurten_merge = pd.concat(to_merge)

buurten_merge.head()
inwoners.head()

,top20_HuishoudensMetHoogsteInkomen,HuishoudensMetEenLaagInkomen,HuishoudensMetKinderen,HuishoudensZonderKinderen,Bevolkingsdichtheid,OpleidingsniveauLaag,OpleidingsniveauMiddelbaar,OpleidingsniveauHoog,Mannen,Vrouwen,k_0Tot15Jaar,k_15Tot25Jaar,k_25Tot45Jaar,k_45Tot65Jaar,k_65JaarOfOuder,GeboorteTotaal,GeboorteRelatief,SterfteTotaal,SterfteRelatief
0,20.0,6.8,2615101,2302921,517.0,3663210.0,5505600.0,4100340.0,8648031,8759554,2726099,2143743,4308904,4836284,3392555,168681,10,168678,10
1,22.7,4.7,3563,4361,92.0,4570.0,8800.0,5790.0,12708,12737,3460,2624,4375,8249,6737,167,7,274,11
2,25.9,2.8,550,590,246.0,560.0,1270.0,830.0,1760,1850,560,345,630,1145,925,25,7,35,10
3,24.7,2.7,525,555,1370.0,530.0,1210.0,790.0,1680,1775,545,335,610,1090,875,25,7,30,10
4,NaN,NaN,20,35,13.0,20.0,60.0,40.0,75,75,15,15,20,60,45,0,0,0,7

---

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## **2. Dataset inspecteren**

Nu dat wij de dataset hebben gefiltered kunnen we kijken naar de interessante informatie. We beginnen met een gestructueerd overzicht via de `.info()` methode. Dit geeft ons het aantal rijen, kolommen, de hoeveelheid bestaande waarden, en de kolom namen. Dit is essentieel voor het begrijpen en schoonmaken van onze data.

In [ ]:
# Lucas
# Aantal rijen en kolommen dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17341 entries, 0 to 17340
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   buurt              17341 non-null  object
 1   gemeente           17341 non-null  object
 2   regio_type         17341 non-null  object
 3   gem_elek_verbruik  16524 non-null  float64
dtypes: float64(1), object(3)
memory usage: 542.0+ KB

In [ ]:
# Lucas
mask = []
for col in buurten.columns:
    if pd.api.types.is_numeric_dtype(buurten[col]):
        mask.append(col)

print("Numerieke kolommen in het buurten DataFrame:")
print(*mask, sep=", ")

# Beschrijvende statistieken van alleen de numerieke kolommen
num_stats = buurten[mask].describe()
print("\nStatistieken van numerieke kolommen:")
print(num_stats)

Numerieke kolommen in het buurten DataFrame:
Bevolkingsdichtheid, Woningvoorraad, Gemiddelde_WOZWaarde_Woningen, PercentageEengezinswoning, PercentageMeergezinswoning, PercentageBewoond, PercentageOnbewoond, GIHandelEnHoreca, AfstandTotHuisartsenpraktijk, AfstandTotGroteSupermarkt, AfstandTotKinderdagverblijf, AfstandTotSchool, OppervlakteLand, OppervlakteWater, MateVanStedelijkheid, Omgevingsadressendichtheid

Statistieken van numerieke kolommen:

TypeError: NDFrame.describe() got an unexpected keyword argument 'numeric_only'

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.1 Omschrijving van de kolommen**

Onze dataset heeft X aantal rijen en X aantal kolommen. De kolommen hebben wij hieronder beschreven met informatie over wat de kolom is, wat voor type data er in zit, welke eenheden de data in is, en of er missende waarden zijn.


| kolomnaam | omschrijving | type | eenheden | missende waarden |
| ---       |---           | ---  | ---      | ---              |
| ...       | ...  | ...      | ...              |...

#### **2.2 Extra omschrijving numerieke kolommen**

Om nog beter inzicht in de data te krijgen en ook om de data in perspectief te zetten hebben we hieronder laten zien wat de maximale, minimale, gemiddelde, en mediane waardes zijn in alle kolommen. Een grote afwijking van mediaan en gemiddelde komt vaak door uitschieters zoals we kunne zien in kolommen X en X.


| kolomnaam | maximum | minimum | gemiddelde | mediaan |
|---        | ---     |---      |---         |---      |
|...        | ...     |...      |...         |...      |

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.3 Relevante kolommen**

Niet alle kolommen van de dataset zijn interessant voor het onderzoek. Wij kunnen van sommige kolommen nu al zeggen dat deze niet relevant zijn. Daarom gaan wij in de volgende stap de kolommen die wij niet nodig hebben verwijderen. Dit zorgt voor een schonere dataset die overzichtelijker is en waar wij makkelijker inzichten uit kunnen krijgen.

De irrelevante kolommen die wij verwijderd hebben zijn:
<!-- en waarom -->
- 
- 
- 

De kolommen die wij houden en die dus wel interessant zijn zijn de volgende:
<!-- en waarom -->
- 
- 
-

In [ ]:
# Verwijderen van irrelevante kolommen

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.4 Onderbouwing te veel missende waarden**

Sommige kolommen hebben (te) veel missende waarden. Deze kolommen moeten ook verwijderd worden om de betrouwbaarheid van de data hoog te houden. Kolommen met X% aantal missende waarden moeten worden verwijdert. Deze marge hebben wij genomen omdat XXXXXX.

De kolommen X X en X <!-- placeholder --> hebben te veel missende waarden en zullen moeten worden verwijderd. Dit doen wij met de `XXX` methode/functie.

In [ ]:
# Verwijderen van kolommen met te veel missende waarden

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.5 Groeperen kolommen**

Om de dataset beter de begrijpen kunnen wij sommige kolommen, zolas *"Woningtype"* groeperen. Dit helpt ons door meer perspectief te kunnnen geven in de data doormiddel van gegroepeerde statestieken en door data analyse later makkelijker en duidelijker te maken.

Wij maken hier de groepen X X en X aan doormiddel van de `.groupby()` methode uit <code style="color:#4EC9B0;">pandas</code>.
Daarna kunnen wij doormiddel van <code style="color:#CE9178;">seaborn</code> en <code style="color:#CE9178;">matplotlib</code> wat visuele overzichten creëeren om meer inzicht te creëeren in de data.

In [ ]:
# nieuwe gegroepeerde datasets

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.6 Basisstatistieken per gemeente**

Om de data verder te verkennen gaan we nu wat meer basisstatistieken opzoeken over de gemeentes. We gaan de totalen, gemiddleden, en medianen berekenen doormiddel van <code style="color:#9CDCFE;"> numpy</code>. Deze geven ons inzicht in verschillen tussen gemeenten. Daaruit kunnen wij conclusies of voorspellingen halen.

Wij hebben de volgende ondervindingen gedaan:

- 
- 
- 
-

In [14]:
# Basisstatistieken:
# Totalen per gemeente

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

Om onze data te verifieren hebben wij onze ondervindingen vergelijken met de data op de CBS website. Hier hebben wij WEL/NIET een verschil in gemerkt. Namelijk het volgende... Dit is te verklaren door dit dit en dit.

#### **2.7 Basistatastieken percentages**

Wij kunnen nog meer inzichten halen uit de kolommen met aantallen. Wij hebben om beter inzicht te krijgen in X en X de volgende percentages uitgerekend:

- 
- 
- 

Dit heeft ons de volgende inzichten gegeven: XXXXX

In [ ]:
# Basisstatistieken:
# Percentages

---

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## 3. **Voorlopige conclusie**

Deze analyse heeft duidelijke patronen bevonden op dit dit en dit vlak. De gemeenten zouden dit dit en dit kunnen doen om de druk op het electriciteitsnet te verlagen.

**Belangrijkste prestaties:**

<!-- Placeholders -->

- Er zijn XXXX observaties verwerkt, waarmee 95,0% van de oorspronkelijke dataset is behouden.
- Geen enkele gemeente doet iets heel ergs
- Op weekdagen werd een stijging van zoveel energie gemeten
- Er zijn 69 gemeenten zijn in kaart gebracht, waarbij hoogrisicogebieden en verschillen tussen provincies zijn geïdentificeerd.

---

## Sprint 4

## Sprint 5

## Sprint 6

### Eindadvies