# Datalab 2025-2026

<div style="line-height:1;">

## Analyse over elektricitiets gebruik in de Nederlandse markt.

**Groepsnummer: 5**

**Auteurs: Lucas Hoetink, Thomas Galais, Mehmet Kilinc, Joris Zondervan**

<div style="line-height:1.6;">

## **Kernpuntenrapport**

Dit notebook presenteert doormiddel van data van het **CBS** een analytisch overzicht van de **Nederlandse energiemarkt**. Na het opschonen en voorbewerken van de rauwe datasets zijn er verschillende analyses op uitgevoerd om inzicht te krijgen in hoe het elekriciteits gebruik verschilt per gemeente en welke factoren dit beïnvloeden. 

Wij hebben datasets van het CBS doormiddel van <code style="color:#4EC9B0;">pandas</code>, <code style="color:#9CDCFE;">numpy</code> onderzocht. Ook hebben wij met <code style="color:#CE9178;">seaborn</code> en <code style="color:#CE9178;">matplotlib</code> meerdere visualisaties gemaakt om de data gemakkelijk in te zien.

**Belangrijkste bevindingen**:

- 
- 

Deze patronen benadrukken dit en dit en dit

---

## **Importeer de benodigde libraries**

Hier importeren wij <code style="color:#4EC9B0;">pandas</code> en <code style="color:#9CDCFE;">numpy</code>. Ook installeren wij eerst de api voor  <code style="color:#4EC9B0;">cbsodata</code> (CBS open data), en importeren we de library in het notebook.

In [17]:
import pandas as pd
import numpy as np
%pip install cbsodata
import cbsodata

Requirement already satisfied: cbsodata in c:\users\thomas\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: requests in c:\users\thomas\anaconda3\lib\site-packages (from cbsodata) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\thomas\anaconda3\lib\site-packages (from requests->cbsodata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thomas\anaconda3\lib\site-packages (from requests->cbsodata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\thomas\anaconda3\lib\site-packages (from requests->cbsodata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thomas\anaconda3\lib\site-packages (from requests->cbsodata) (2025.8.3)
Note: you may need to restart the kernel to use updated packages.

## **Stel de plotting stijl in**

In [18]:
# plt.style.use('seaborn-v0_8')
# sns.set_palette('husl')

---

## **Sprint 3**

<div style="line-height:1.6;">

### **Kernpuntenrapport**

Dit hoofdstuk presenteert een analytisch overzicht van het elektriciteitsverbruik per gemeente. Ook gaat dit hoofdstuk in op de verschillende factoren die het elektriciteitsverbruik per huishouden beïnvloeden.Als laatste gaan wij aan de hand van kenmerken van een buurt voorspellingen doen over het energieverbruik.

**Belangrijkste bevindingen:**

- 
- 

Dit verteld ons dit dit en dit

---

## **Importeer de dataset**

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

**Hoe we dit doen:**

We beginnen met <code style="color:#4EC9B0;">pandas</code> en `.getdata()` van <code style="color:#4EC9B0;">cbsodata</code> om het dataset 84799NED op te halen en meteen om te zetten in een <code style="color:#4EC9B0;">pandas DataFrame</code>. 
We gaan meteen door met data verkenning om de dataset beter te begrijpen. De eerste verkenning met `.head()` en `.shape` geeft ons een snel overzicht van de datastructuur.

De dataset heeft `17341` rijen en `119` kolommen.
`.head()` laat ons de bovenste 5 rijen zien. hieruit kunnen we opmaken waar de dataset over gaat. Het lijkt een dataset te zijn met informatie over verschillende wijken in Nederland. Interessante kolommen zijn bijvoorbeeld leeftijdsgoepen, informatie over huishoudens, woning types, en energiegebruik.

In [19]:
# Dataset importeren. Omdat de dataset bovenaan wat extra rijen heeft slaan we die over.
df = pd.DataFrame(cbsodata.get_data('84799NED'))

# Dataset uitlezen
print('De dataset heeft de volgende vorm:', df.shape)
print('\nDe bovenste 5 rijen zijn:\n',df.head())

De dataset heeft de volgende vorm: (17341, 119)

De bovenste 5 rijen zijn:
    ID          WijkenEnBuurten                            Gemeentenaam_1  \
0   0                Nederland  Nederland
1   1              Aa en Hunze  Aa en Hunze
2   2            Wijk 00 Annen  Aa en Hunze
3   3                    Annen  Aa en Hunze
4   4  Verspreide huizen Annen  Aa en Hunze

  SoortRegio_2  Codering_3 IndelingswijzigingWijkenEnBuurten_4  \
0   Land        NL00                                         .
1   Gemeente    GM1680                                       .
2   Wijk        WK168000                                     1
3   Buurt       BU16800000                                   1
4   Buurt       BU16800009                                   1

   AantalInwoners_5  Mannen_6  Vrouwen_7  k_0Tot15Jaar_8  k_15Tot25Jaar_9  \
0          17407585   8648031    8759554         2726099          2143743
1             25445     12708      12737            3460             2624
2              3610      1760       1850             560              345
3              3455      1680       1775             545              335
4               155        75         75              15               15

   k_25Tot45Jaar_10  k_45Tot65Jaar_11  k_65JaarOfOuder_12  Ongehuwd_13  \
0           4308904           4836284             3392555      8474556
1              4375              8249                6737        10174
2               630              1145                 925         1475
3               610              1090                 875         1425
4                20                60                  45           50

   Gehuwd_14  Gescheiden_15  Verweduwd_16  WestersTotaal_17  \
0    6713002        1361007        859020           1828645
1      11778           1867          1626              1071
2       1650            250           240               125
3       1555            245           230               125
4         85              5             5                 0

   NietWestersTotaal_18  Marokko_19  NederlandseAntillenEnAruba_20  \
0               2392060      408864                         166265
1                   640           9                             41
2                    70           0                              5
3                    70           0                              5
4                     0           0                              0

   Suriname_21  Turkije_22  OverigNietWesters_23  GeboorteTotaal_24  \
0       356402      416864               1043665             168681
1           61          16                   513                167
2            0           0                    65                 25
3            5           0                    60                 25
4            0           0                     0                  0

   GeboorteRelatief_25  SterfteTotaal_26  SterfteRelatief_27  \
0                   10            168678                  10
1                    7               274                  11
2                    7                35                  10
3                    7                30                  10
4                    0                 0                   7

   HuishoudensTotaal_28  Eenpersoonshuishoudens_29  \
0               7997800                    3079778
1                 11160                       3236
2                  1565                        430
3                  1500                        415
4                    70                         15

   HuishoudensZonderKinderen_30  HuishoudensMetKinderen_31  \
0                       2302921                    2615101
1                          4361                       3563
2                           590                        550
3                           555                        525
4                            35                         20

   GemiddeldeHuishoudensgrootte_32  Bevolkingsdichtheid_33  Woningvoorraad_34  \
0                              2.1                   517.0            7891786
1                              2.2                    92.0              11179
2                              2.3                   246.0               1627
3                              2.3                  1370.0               1564
4                              2.3                    13.0                 63

   GemiddeldeWOZWaardeVanWoningen_35  PercentageEengezinswoning_36  \
0                              271.0                          64.0
1                              257.0                          92.0
2                              254.0                          91.0
3                              245.0                          90.0
4                              470.0                         100.0

   PercentageMeergezinswoning_37  PercentageBewoond_38  \
0                           36.0                  96.0
1                            8.0                  96.0
2                            9.0                  96.0
3                           10.0                  96.0
4                            0.0                  98.0

   PercentageOnbewoond_39  Koopwoningen_40  HuurwoningenTotaal_41  \
0                     4.0             57.0                   43.0
1                     4.0             75.0                   25.0
2                     4.0             74.0                   26.0
3                     4.0             73.0                   27.0
4                     2.0             97.0                    3.0

   InBezitWoningcorporatie_42  InBezitOverigeVerhuurders_43  \
0                        29.0                          13.0
1                        20.0                           6.0
2                        20.0                           6.0
3                        20.0                           6.0
4                         0.0                           3.0

   EigendomOnbekend_44  BouwjaarVoor2000_45  BouwjaarVanaf2000_46  \
0                  0.0                 83.0                  17.0
1                  0.0                 89.0                  11.0
2                  0.0                 88.0                  12.0
3                  0.0                 88.0                  12.0
4                  0.0                 68.0                  32.0

   GemiddeldElektriciteitsverbruikTotaal_47  Appartement_48  Tussenwoning_49  \
0                                    2760.0          1990.0           2850.0
1                                    3090.0          1870.0           2250.0
2                                    3000.0          1630.0           2320.0
3                                    2950.0          1630.0           2320.0
4                                    4390.0             NaN              NaN

   Hoekwoning_50  TweeOnderEenKapWoning_51  VrijstaandeWoning_52  \
0         2970.0                    3290.0                4040.0
1         2520.0                    2870.0                3660.0
2         2650.0                    3060.0                3630.0
3         2650.0                    3060.0                3540.0
4            NaN                       NaN                4420.0

   Huurwoning_53  EigenWoning_54  GemiddeldAardgasverbruikTotaal_55  \
0         2110.0          3230.0                             1120.0
1         2230.0          3380.0                             1660.0
2         1950.0          3350.0                             1540.0
3         1950.0          3290.0                             1520.0
4            NaN          4410.0                             2090.0

   Appartement_56  Tussenwoning_57  Hoekwoning_58  TweeOnderEenKapWoning_59  \
0           750.0           1050.0         1250.0                    1450.0
1           900.0           1190.0         1360.0                    1450.0
2           800.0           1250.0         1390.0                    1470.0
3           800.0           1250.0         1390.0                    1470.0
4             NaN              NaN            NaN                       NaN

   VrijstaandeWoning_60  Huurwoning_61  EigenWoning_62  \
0                1910.0          870.0          1300.0
1                2010.0         1240.0          1790.0
2                1900.0         1150.0          1670.0
3                1880.0         1150.0          1650.0
4                2090.0            NaN          2090.0

   PercentageWoningenMetStadsverwarming_63  OpleidingsniveauLaag_64  \
0                                      6.3                3663210.0
1                                      NaN                   4570.0
2                                      NaN                    560.0
3                                      NaN                    530.0
4                                      NaN                     20.0

   OpleidingsniveauMiddelbaar_65  OpleidingsniveauHoog_66  \
0                      5505600.0                4100340.0
1                         8800.0                   5790.0
2                         1270.0                    830.0
3                         1210.0                    790.0
4                           60.0                     40.0

   Nettoarbeidsparticipatie_67  PercentageWerknemers_68  \
0                         69.0                     84.0
1                         67.0                     80.0
2                         69.0                     83.0
3                         69.0                     84.0
4                          NaN                      NaN

   PercentageZelfstandigen_69  AantalInkomensontvangers_70  \
0                        16.0                     13805800
1                        20.0                        20700
2                        17.0                         2900
3                        16.0                         2800
4                         NaN                          100

   GemiddeldInkomenPerInkomensontvanger_71  GemiddeldInkomenPerInwoner_72  \
0                                     34.3                           27.9
1                                     33.9                           28.2
2                                     35.9                           29.5
3                                     35.3                           28.9
4                                     48.5                           43.1

   k_40PersonenMetLaagsteInkomen_73  k_20PersonenMetHoogsteInkomen_74  \
0                              40.0                              20.0
1                              39.9                              19.7
2                              36.5                              21.8
3                              36.6                              21.2
4                              33.1                              34.6

   GemGestandaardiseerdInkomenVanHuish_75  \
0                                    32.1
1                                    33.4
2                                    34.8
3                                    34.3
4                                     NaN

   k_40HuishoudensMetLaagsteInkomen_76  k_20HuishoudensMetHoogsteInkomen_77  \
0                                 40.0                                 20.0
1                                 32.0                                 22.7
2                                 28.6                                 25.9
3                                 29.2                                 24.7
4                                  NaN                                  NaN

   HuishoudensMetEenLaagInkomen_78  HuishOnderOfRondSociaalMinimum_79  \
0                              6.8                                6.8
1                              4.7                                4.7
2                              2.8                                3.9
3                              2.7                                3.8
4                              NaN                                NaN

   HuishoudensTot110VanSociaalMinimum_80  \
0                                   10.2
1                                    7.3
2                                    6.0
3                                    6.0
4                                    NaN

   HuishoudensTot120VanSociaalMinimum_81  \
0                                   13.0
1                                    9.6
2                                    8.7
3                                    8.8
4                                    NaN

   MediaanVermogenVanParticuliereHuish_82  \
0                                    65.3
1                                   140.9
2                                   144.0
3                                   135.6
4                                     NaN

   PersonenPerSoortUitkeringBijstand_83  PersonenPerSoortUitkeringAO_84  \
0                              421110.0                        732950.0
1                                 380.0                          1100.0
2                                  30.0                           110.0
3                                  30.0                           110.0
4                                   0.0                            10.0

   PersonenPerSoortUitkeringWW_85  PersonenPerSoortUitkeringAOW_86  \
0                        238650.0                        3122870.0
1                           310.0                           6200.0
2                            50.0                            860.0
3                            50.0                            820.0
4                             0.0                             40.0

   JongerenMetJeugdzorgInNatura_87  PercentageJongerenMetJeugdzorg_88  \
0                         429210.0                                9.7
1                            575.0                               10.0
2                             70.0                                8.0
3                             70.0                                8.3
4                              NaN                                NaN

   WmoClienten_89  WmoClientenRelatief_90  BedrijfsvestigingenTotaal_91  \
0       1221820.0                    70.0                       2033385
1          1865.0                    73.0                          2910
2           240.0                    66.0                           365
3           240.0                    69.0                           340
4             NaN                     NaN                            30

   ALandbouwBosbouwEnVisserij_92  BFNijverheidEnEnergie_93  \
0                        76905.0                  276035.0
1                          290.0                     345.0
2                           20.0                      45.0
3                           15.0                      45.0
4                           10.0                       0.0

   GIHandelEnHoreca_94  HJVervoerInformatieEnCommunicatie_95  \
0             349180.0                              152370.0
1                480.0                                 135.0
2                 65.0                                  10.0
3                 60.0                                  10.0
4                  0.0                                   0.0

   KLFinancieleDienstenOnroerendGoed_96  MNZakelijkeDienstverlening_97  \
0                              167075.0                       469030.0
1                                 190.0                          600.0
2                                  30.0                           85.0
3                                  30.0                           80.0
4                                   0.0                            5.0

   OQOverheidOnderwijsEnZorg_98  RUCultuurRecreatieOverigeDiensten_99  \
0                      312910.0                              229880.0
1                         535.0                                 325.0
2                          70.0                                  40.0
3                          65.0                                  35.0
4                           5.0                                   5.0

   PersonenautoSTotaal_100  PersonenautoSBrandstofBenzine_101  \
0                  8584390                            6883820
1                    14645                              11085
2                     2035                               1605
3                     1935                               1535
4                      100                                 70

   PersonenautoSOverigeBrandstof_102  PersonenautoSPerHuishouden_103  \
0                            1700575                             1.1
1                               3560                             1.3
2                                430                             1.3
3                                405                             1.3
4                                 30                             1.5

   PersonenautoSNaarOppervlakte_104  Motorfietsen_105  \
0                             255.0            654385
1                              53.0              1745
2                             139.0               205
3                             768.0               195
4                               8.0                10

   AfstandTotHuisartsenpraktijk_106  AfstandTotGroteSupermarkt_107  \
0                               1.0                            0.9
1                               2.4                            2.1
2                               0.9                            0.9
3                               0.8                            0.8
4                               2.6                            2.1

   AfstandTotKinderdagverblijf_108  AfstandTotSchool_109  \
0                              0.6                   0.7
1                              1.2                   1.2
2                              0.5                   0.8
3                              0.5                   0.8
4                              1.7                   2.0

   ScholenBinnen3Km_110  OppervlakteTotaal_111  OppervlakteLand_112  \
0                  10.9                4154338              3367109
1                   1.8                  27887                27609
2                   2.6                   1478                 1466
3                   2.6                    252                  252
4                   1.2                   1226                 1213

   OppervlakteWater_113 MeestVoorkomendePostcode_114  Dekkingspercentage_115  \
0                787228                            .                     NaN
1                   279                            .                     NaN
2                    13                            .                     NaN
3                     0                         9468                     1.0
4                    13                         9468                     1.0

   MateVanStedelijkheid_116  Omgevingsadressendichtheid_117
0                       2.0                          2010.0
1                       5.0                           281.0
2                       5.0                           396.0
3                       5.0                           411.0
4                       5.0                            60.0

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## **1. De dataset filteren**

We beginnen met een gestructureerd overzicht te creëren van de data die voor ons interessant is. Dit doen wij door de dataset te filteren en om te zetten in de DataFrames `buurten`, `inwoners`, en `elektriciteitsgebruik`. Het is nodig om op alleen de buurten te filteren, omdat ons onderzoek alleen de informatie over de buurten vereist. De niet-relevante informatie hindert de snelheid van berekeningen en door deze weg te laten maken wij het onderzoek ook overzichtelijker.
De interessante informatie voor ons in deze dataset is:

- 
- 
-

In [29]:
# Dataframe buurten maken
# print(df.columns.tolist())

buurten = df[['WijkenEnBuurten', 'Gemeentenaam_1', 'SoortRegio_2', 'AantalInwoners_5','PercentageBewoond_38', 'PercentageOnbewoond_39',]]
inwoners = df[['k_20HuishoudensMetHoogsteInkomen_77', 'HuishoudensMetEenLaagInkomen_78','GemiddeldeHuishoudensgrootte_32' ,'HuishoudensMetKinderen_31','HuishoudensZonderKinderen_30', 'Bevolkingsdichtheid_33', 'OpleidingsniveauLaag_64', 'OpleidingsniveauMiddelbaar_65', 'OpleidingsniveauHoog_66', ]]
elektriciteitsgebruik = df[['GemiddeldElektriciteitsverbruikTotaal_47', 'BouwjaarVoor2000_45', 'BouwjaarVanaf2000_46', 'GemiddeldAardgasverbruikTotaal_55']]

print(buurten.info())
# Een nieuwe dataframe met alleen buurten is belangrijk omdat we dan alle "onnodige" informatie buiten laten en alle bruikbare inforamtie voor ons onderzoek overhouden.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17341 entries, 0 to 17340
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   WijkenEnBuurten         17341 non-null  object
 1   Gemeentenaam_1          17341 non-null  object
 2   SoortRegio_2            17341 non-null  object
 3   AantalInwoners_5        17341 non-null  int64
 4   PercentageBewoond_38    15731 non-null  float64
 5   PercentageOnbewoond_39  15731 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 813.0+ KB
None

---

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## **2. Dataset inspecteren**

Nu dat wij de dataset hebben gefiltered kunnen we kijken naar de interessante informatie. We beginnen met een gestructueerd overzicht via de `.info()` methode. Dit geeft ons het aantal rijen, kolommen, de hoeveelheid bestaande waarden, en de kolom namen. Dit is essentieel voor het begrijpen en schoonmaken van onze data.

In [ ]:
# Aantal rijen en kolommen dataframe

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.1 Omschrijving van de kolommen**

Onze dataset heeft X aantal rijen en X aantal kolommen. De kolommen hebben wij hieronder beschreven met informatie over wat de kolom is, wat voor type data er in zit, welke eenheden de data in is, en of er missende waarden zijn.


| kolomnaam | omschrijving | type | eenheden | missende waarden |
| ---       |---           | ---  | ---      | ---              |
| ...       | ...  | ...      | ...              |...

#### **2.2 Extra omschrijving numerieke kolommen**

Om nog beter inzicht in de data te krijgen en ook om de data in perspectief te zetten hebben we hieronder laten zien wat de maximale, minimale, gemiddelde, en mediane waardes zijn in alle kolommen. Een grote afwijking van mediaan en gemiddelde komt vaak door uitschieters zoals we kunne zien in kolommen X en X.


| kolomnaam | maximum | minimum | gemiddelde | mediaan |
|---        | ---     |---      |---         |---      |
|...        | ...     |...      |...         |...      |

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.3 Relevante kolommen**

Niet alle kolommen van de dataset zijn interessant voor het onderzoek. Wij kunnen van sommige kolommen nu al zeggen dat deze niet relevant zijn. Daarom gaan wij in de volgende stap de kolommen die wij niet nodig hebben verwijderen. Dit zorgt voor een schonere dataset die overzichtelijker is en waar wij makkelijker inzichten uit kunnen krijgen.

De irrelevante kolommen die wij verwijderd hebben zijn:
<!-- en waarom -->
- 
- 
- 

De kolommen die wij houden en die dus wel interessant zijn zijn de volgende:
<!-- en waarom -->
- 
- 
-

In [ ]:
# Verwijderen van irrelevante kolommen

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.4 Onderbouwing te veel missende waarden**

Sommige kolommen hebben (te) veel missende waarden. Deze kolommen moeten ook verwijderd worden om de betrouwbaarheid van de data hoog te houden. Kolommen met X% aantal missende waarden moeten worden verwijdert. Deze marge hebben wij genomen omdat XXXXXX.

De kolommen X X en X <!-- placeholder --> hebben te veel missende waarden en zullen moeten worden verwijderd. Dit doen wij met de `XXX` methode/functie.

In [ ]:
# Verwijderen van kolommen met te veel missende waarden

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.5 Groeperen kolommen**

Om de dataset beter de begrijpen kunnen wij sommige kolommen, zolas *"Woningtype"* groeperen. Dit helpt ons door meer perspectief te kunnnen geven in de data doormiddel van gegroepeerde statestieken en door data analyse later makkelijker en duidelijker te maken.

Wij maken hier de groepen X X en X aan doormiddel van de `.groupby()` methode uit <code style="color:#4EC9B0;">pandas</code>.

In [ ]:
# nieuwe gegroepeerde datasets

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

#### **2.6 Basisstatistieken per gemeente**

Om de data verder te verkennen gaan we nu wat meer basisstatistieken opzoeken over de gemeentes. We gaan de totalen, gemiddleden, en medianen berekenen doormiddel van <code style="color:#9CDCFE;"> numpy</code>. Deze geven ons inzicht in verschillen tussen gemeenten. Daaruit kunnen wij conclusies of voorspellingen halen.

Wij hebben de volgende ondervindingen gedaan:

- 
- 
- 
-

In [ ]:
# Basisstatistieken:
# Totalen per gemeente

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

Om onze data te verifieren hebben wij onze ondervindingen vergelijken met de data op de CBS website. Hier hebben wij WEL/NIET een verschil in gemerkt. Namelijk het volgende... Dit is te verklaren door dit dit en dit.

#### **2.7 Basistatastieken percentages**

Wij kunnen nog meer inzichten halen uit de kolommen met aantallen. Wij hebben om beter inzicht te krijgen in X en X de volgende percentages uitgerekend:

- 
- 
- 

Dit heeft ons de volgende inzichten gegeven: XXXXX

In [ ]:
# Basisstatistieken:
# Percentages

---

<!-- Zet de regel afstand voor betere leesbaarheid -->
<div style="line-height:1.6;">

## 3. **Voorlopige conclusie**

Deze analyse heeft duidelijke patronen bevonden op dit dit en dit vlak. De gemeenten zouden dit dit en dit kunnen doen om de druk op het electriciteitsnet te verlagen.

**Belangrijkste prestaties:**

<!-- Placeholders -->

- Er zijn XXXX observaties verwerkt, waarmee 95,0% van de oorspronkelijke dataset is behouden.
- Geen enkele gemeente doet iets heel ergs
- Op weekdagen werd een stijging van zoveel energie gemeten
- Er zijn 69 gemeenten zijn in kaart gebracht, waarbij hoogrisicogebieden en verschillen tussen provincies zijn geïdentificeerd.

---

## Sprint 4

## Sprint 5

## Sprint 6

### Eindadvies